/.packages
/.idea/
/.idea/.gitignore
/.idea/libraries/Dart_Packages.xml
/.idea/libraries/Dart_SDK.xml
/.idea/libraries/Flutter_Plugins.xml
/.idea/home_work.iml
/.idea/misc.xml
/.idea/modules.xml
/.dart_tool/package_config.json
/.dart_tool/package_config_subset
/.idea/vcs.xml
/.dart_tool/version
/build/
/.dart_tool/
/lib/model/favorite/favorite.g.dart
/lib/model/ingredient/ingredient.g.dart
/lib/model/recipe/recipe.g.dart
/lib/model/recipe_ingredient/recipe_ingredient.g.dart
/lib/model/recipe_step_link/recipe_step_link.g.dart
